  singleQuote: true
  tabWidth: 2
  useTabs: false
  printWidth: 100
  # arrowParens: 'avoid'
  arrowParens: 'always'
  semi: true
  trailingComma: "none"
  bracketSpacing: true
  bracketSameLine: false
  endOfLine: "lf"
  # singleAttributePerLine: false
  jsxSingleQuote: false

